[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
pydantic = "*"
click = "*"

[dev-packages]
pytest = "*"
tox = "*"
coverage = "*"

[requires]
python_version = "3.9"
